PORT=5000
# MONGO_URI="mongodb://your-mongo-url-here"
# JWT_SECRET="your-super-secret-key"
# GOOGLE_CLIENT_ID="your-google-client-id"
# CLOUD_API_URL="http://localhost:5000/api"
# CLOUD_API_KEY="your-cloud-api-key"
